{% if section.blocks.size > 0 %}
  <div class="sidebar two columns medium-down--one-whole">
    <div class="sidebar_content toggle-all--{{ section.settings.toggle }}">
      {% for block in section.blocks %}
          {% if block.type == 'text' %}
            <div class="sidebar-block" {{ block.shopify_attributes }}>
              <div class="header">
                <h4>{{ block.settings.title }}</h4>
                <div class="sub-content">
                  {% render 'image-element' with 
                    image: block.settings.image,
                    alt: block.settings.text
                  %}
                  <div class="link">
                    <a href="{{ block.settings.link }}" class="button border-button">{{'blogs.sidebar.listen_now' | t }}</a>
                    <a class="toggle">Details <span class="right icon-down-arrow"></span></a>
                  </div>
                </div>
              </div>
            
              <ul class="toggle_list content_block">
                <li>
                  {% render 'image-element' with 
                    image: block.settings.image,
                    alt: block.settings.text,
                    additional_class: 'medium-down--hide'
                  %}
                  {{ block.settings.text }}
                  <a href="{{ block.settings.link }}" target="_blank" class="button border-button medium-down--hide">{{'blogs.sidebar.listen_now' | t }}</a>
                </li>
              </ul>
            </div>
          {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
