{% assign collection_handles = section.settings.collection %}
{% assign alt_text = product.title | escape %}
<div class="product-wrap border-box {% if settings.collection_secondary_image != blank and product.media[1] != blank %}has-secondary-media-swap{% endif %}">
    <div class="relative product_image">
      <a href="{{ product.url | within: collection }}">
        <div class="image__container">
          {% render 'image-element',
                  image: product.featured_media.preview_image,
                  alt: alt_text,
                  object_fit: settings.align_height,
                  max_height: section.settings.set_product_height
          %}
          {% if settings.collection_secondary_image != blank and product.media[1] != blank %}
            {% if product.media[1].media_type == 'external_video' %}
              <div class="external-video__container lazyload lazypreload secondary-media-hidden video-on-hover">
                <div class="youtube-wrapper" data-youtube-video>
                  {{ product.media[1] | external_video_tag }}
                </div>
              </div>
            {% elsif product.media[1].media_type == 'video' %}
              <div class="video__container lazyload lazypreload secondary-media-hidden video-on-hover" data-html5-video>
                {{ product.media[1] | video_tag: controls: false }}
              </div>
            {% else %}
              {% render 'image-element',
                      image: product.media[1].preview_image,
                      alt: alt_text,
                      additional_classes: 'secondary lazypreload secondary-media-hidden'
              %}
            {% endif %}
          {% endif %}
        </div>
      </a>

      {% render 'product-details',
              product: product
              collection_handles: collection_handles
      %}

      {% if settings.quick_shop_style == 'inline' %}
        {% render 'collection-swatch', product: product %}
      {% endif %}
    </div>
    <a class="product-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ product.url | within: collection }}">
      {% render 'product-info',
              product: product,
              collection_handles: collection_handles
      %}
    </a>
    {% if section.settings.add_cart_form %}
      <div class="inline-quickshop js-product_section product-{{ product.id }}">
        {% render 'product-form',
                product: product,
                collection_handles: collection_handles,
                show_payment_button_quickshop: settings.show_payment_button
        %}
      </div>
    {% endif %}
    {% if section.settings.description_status %}
      <div class="feature_divider"></div>
      <div class="badge">
        {% assign variant = product.selected_or_first_available_variant %}
        {% assign left_price = variant.compare_at_price | minus: variant.price %}
        {% assign ratio = left_price | times: 100 | divided_by: variant.compare_at_price %}
        You save <strong>{{ ratio }}%</strong>
      </div>
    {% endif %}
    
</div>

{% if section.settings.set_product_height %}
  {% style %}
    .product-wrap .product_image img,
    .product-wrap .product_image .plyr--html5 video,
    .product-wrap .product_image .plyr--youtube {
      height: {{ section.settings.product_height }}px;
    }
  {% endstyle %}
{% endif %}