{% capture content %}
<!DOCTYPE html>
<html lang="{{ shop.locale }}">
  <head rel="dns-prefetch" defer="defer">
    {% comment %}
    <script src="https://cdn.yottaa.com/rapid.rum.min.js?key=4Pj-A15gaefDVw"></script>
    <script>
      Yo.configure('https://qoe-1.yottaa.net/api/v1/configure.rapid.js?key=4Pj-A15gaefDVw');
    </script>
    {% endcomment %}

    <link rel="preconnect" href="https://fonts.shopifycdn.com" />
    <link rel="preconnect" href="https://cdn.shopify.com" />
    <link rel="preconnect" href="https://v.shopify.com" />
    <link rel="preconnect" href="https://cdn.shopifycloud.com" />
    <link rel="preconnect" href="https://assets.gorgias.io" />
    <link rel="preconnect" href="https://checkout.getbread.com" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://www.gstatic.com" />
    <link rel="preconnect" href="https://cdn.chargeafter.com" />
    
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css" />
    </noscript>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet" type="text/css" />
    </noscript>

    <script src="//d1liekpayvooaz.cloudfront.net/apps/customizery/customizery.js?shop={{shop.permanent_domain}}"></script>
    <!-- Infinite Options by ShopPad -->
    <script>     
      window.Shoppad = window.Shoppad || {},     
        window.Shoppad.apps = window.Shoppad.apps || {},     
        window.Shoppad.apps.infiniteoptions = window.Shoppad.apps.infiniteoptions || {},     
        window.Shoppad.apps.infiniteoptions.addToCartButton = '.seven.columns.omega form[action="/cart/add"] .action_button.add_to_cart';
    </script>
    
    {% include 'SEOManager' %}

    <script type="text/javascript">
      var AddShoppersWidgetOptions = { 'loadCss': false };
      (!function(){
          var t=document.createElement("script");
          t.type="text/javascript",
          t.async=!0,
          t.id="AddShoppers",
          t.src="https://shop.pe/widget/widget_async.js#5f650ba00ff4c32ce2e84865",
          document.getElementsByTagName("head")[0].appendChild(t)
      }());
    </script>

    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">
    <meta name="google-site-verification" content="qj1aMw_70MuZjwlCj_685zZftSt4h4QY4o6UajaZ2j8" />

    {% if settings.enable_shopify_review_comments %}
      <link rel="preconnect" href="https://productreviews.shopifycdn.com" />
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.css">
    <!-- Stylesheets for Turbo "6.0.5" -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}

    <script>
      window.lazySizesConfig = window.lazySizesConfig || {};

      lazySizesConfig.expand = 300;
      lazySizesConfig.loadHidden = false;

      /*! lazysizes - v4.1.4 */
      !function(a,b){var c=b(a,a.document);a.lazySizes=c,"object"==typeof module&&module.exports&&(module.exports=c)}(window,function(a,b){"use strict";if(b.getElementsByClassName){var c,d,e=b.documentElement,f=a.Date,g=a.HTMLPictureElement,h="addEventListener",i="getAttribute",j=a[h],k=a.setTimeout,l=a.requestAnimationFrame||k,m=a.requestIdleCallback,n=/^picture$/i,o=["load","error","lazyincluded","_lazyloaded"],p={},q=Array.prototype.forEach,r=function(a,b){return p[b]||(p[b]=new RegExp("(\\s|^)"+b+"(\\s|$)")),p[b].test(a[i]("class")||"")&&p[b]},s=function(a,b){r(a,b)||a.setAttribute("class",(a[i]("class")||"").trim()+" "+b)},t=function(a,b){var c;(c=r(a,b))&&a.setAttribute("class",(a[i]("class")||"").replace(c," "))},u=function(a,b,c){var d=c?h:"removeEventListener";c&&u(a,b),o.forEach(function(c){a[d](c,b)})},v=function(a,d,e,f,g){var h=b.createEvent("Event");return e||(e={}),e.instance=c,h.initEvent(d,!f,!g),h.detail=e,a.dispatchEvent(h),h},w=function(b,c){var e;!g&&(e=a.picturefill||d.pf)?(c&&c.src&&!b[i]("srcset")&&b.setAttribute("srcset",c.src),e({reevaluate:!0,elements:[b]})):c&&c.src&&(b.src=c.src)},x=function(a,b){return(getComputedStyle(a,null)||{})[b]},y=function(a,b,c){for(c=c||a.offsetWidth;c<d.minSize&&b&&!a._lazysizesWidth;)c=b.offsetWidth,b=b.parentNode;return c},z=function(){var a,c,d=[],e=[],f=d,g=function(){var b=f;for(f=d.length?e:d,a=!0,c=!1;b.length;)b.shift()();a=!1},h=function(d,e){a&&!e?d.apply(this,arguments):(f.push(d),c||(c=!0,(b.hidden?k:l)(g)))};return h._lsFlush=g,h}(),A=function(a,b){return b?function(){z(a)}:function(){var b=this,c=arguments;z(function(){a.apply(b,c)})}},B=function(a){var b,c=0,e=d.throttleDelay,g=d.ricTimeout,h=function(){b=!1,c=f.now(),a()},i=m&&g>49?function(){m(h,{timeout:g}),g!==d.ricTimeout&&(g=d.ricTimeout)}:A(function(){k(h)},!0);return function(a){var d;(a=a===!0)&&(g=33),b||(b=!0,d=e-(f.now()-c),0>d&&(d=0),a||9>d?i():k(i,d))}},C=function(a){var b,c,d=99,e=function(){b=null,a()},g=function(){var a=f.now()-c;d>a?k(g,d-a):(m||e)(e)};return function(){c=f.now(),b||(b=k(g,d))}};!function(){var b,c={lazyClass:"lazyload",loadedClass:"lazyloaded",loadingClass:"lazyloading",preloadClass:"lazypreload",errorClass:"lazyerror",autosizesClass:"lazyautosizes",srcAttr:"data-src",srcsetAttr:"data-srcset",sizesAttr:"data-sizes",minSize:40,customMedia:{},init:!0,expFactor:1.5,hFac:.8,loadMode:2,loadHidden:!0,ricTimeout:0,throttleDelay:125};d=a.lazySizesConfig||a.lazysizesConfig||{};for(b in c)b in d||(d[b]=c[b]);a.lazySizesConfig=d,k(function(){d.init&&F()})}();var D=function(){var g,l,m,o,p,y,D,F,G,H,I,J,K,L,M=/^img$/i,N=/^iframe$/i,O="onscroll"in a&&!/(gle|ing)bot/.test(navigator.userAgent),P=0,Q=0,R=0,S=-1,T=function(a){R--,a&&a.target&&u(a.target,T),(!a||0>R||!a.target)&&(R=0)},U=function(a,c){var d,f=a,g="hidden"==x(b.body,"visibility")||"hidden"!=x(a.parentNode,"visibility")&&"hidden"!=x(a,"visibility");for(F-=c,I+=c,G-=c,H+=c;g&&(f=f.offsetParent)&&f!=b.body&&f!=e;)g=(x(f,"opacity")||1)>0,g&&"visible"!=x(f,"overflow")&&(d=f.getBoundingClientRect(),g=H>d.left&&G<d.right&&I>d.top-1&&F<d.bottom+1);return g},V=function(){var a,f,h,j,k,m,n,p,q,r=c.elements;if((o=d.loadMode)&&8>R&&(a=r.length)){f=0,S++,null==K&&("expand"in d||(d.expand=e.clientHeight>500&&e.clientWidth>500?500:370),J=d.expand,K=J*d.expFactor),K>Q&&1>R&&S>2&&o>2&&!b.hidden?(Q=K,S=0):Q=o>1&&S>1&&6>R?J:P;for(;a>f;f++)if(r[f]&&!r[f]._lazyRace)if(O)if((p=r[f][i]("data-expand"))&&(m=1*p)||(m=Q),q!==m&&(y=innerWidth+m*L,D=innerHeight+m,n=-1*m,q=m),h=r[f].getBoundingClientRect(),(I=h.bottom)>=n&&(F=h.top)<=D&&(H=h.right)>=n*L&&(G=h.left)<=y&&(I||H||G||F)&&(d.loadHidden||"hidden"!=x(r[f],"visibility"))&&(l&&3>R&&!p&&(3>o||4>S)||U(r[f],m))){if(ba(r[f]),k=!0,R>9)break}else!k&&l&&!j&&4>R&&4>S&&o>2&&(g[0]||d.preloadAfterLoad)&&(g[0]||!p&&(I||H||G||F||"auto"!=r[f][i](d.sizesAttr)))&&(j=g[0]||r[f]);else ba(r[f]);j&&!k&&ba(j)}},W=B(V),X=function(a){s(a.target,d.loadedClass),t(a.target,d.loadingClass),u(a.target,Z),v(a.target,"lazyloaded")},Y=A(X),Z=function(a){Y({target:a.target})},$=function(a,b){try{a.contentWindow.location.replace(b)}catch(c){a.src=b}},_=function(a){var b,c=a[i](d.srcsetAttr);(b=d.customMedia[a[i]("data-media")||a[i]("media")])&&a.setAttribute("media",b),c&&a.setAttribute("srcset",c)},aa=A(function(a,b,c,e,f){var g,h,j,l,o,p;(o=v(a,"lazybeforeunveil",b)).defaultPrevented||(e&&(c?s(a,d.autosizesClass):a.setAttribute("sizes",e)),h=a[i](d.srcsetAttr),g=a[i](d.srcAttr),f&&(j=a.parentNode,l=j&&n.test(j.nodeName||"")),p=b.firesLoad||"src"in a&&(h||g||l),o={target:a},p&&(u(a,T,!0),clearTimeout(m),m=k(T,2500),s(a,d.loadingClass),u(a,Z,!0)),l&&q.call(j.getElementsByTagName("source"),_),h?a.setAttribute("srcset",h):g&&!l&&(N.test(a.nodeName)?$(a,g):a.src=g),f&&(h||l)&&w(a,{src:g})),a._lazyRace&&delete a._lazyRace,t(a,d.lazyClass),z(function(){(!p||a.complete&&a.naturalWidth>1)&&(p?T(o):R--,X(o))},!0)}),ba=function(a){var b,c=M.test(a.nodeName),e=c&&(a[i](d.sizesAttr)||a[i]("sizes")),f="auto"==e;(!f&&l||!c||!a[i]("src")&&!a.srcset||a.complete||r(a,d.errorClass)||!r(a,d.lazyClass))&&(b=v(a,"lazyunveilread").detail,f&&E.updateElem(a,!0,a.offsetWidth),a._lazyRace=!0,R++,aa(a,b,f,e,c))},ca=function(){if(!l){if(f.now()-p<999)return void k(ca,999);var a=C(function(){d.loadMode=3,W()});l=!0,d.loadMode=3,W(),j("scroll",function(){3==d.loadMode&&(d.loadMode=2),a()},!0)}};return{_:function(){p=f.now(),c.elements=b.getElementsByClassName(d.lazyClass),g=b.getElementsByClassName(d.lazyClass+" "+d.preloadClass),L=d.hFac,j("scroll",W,!0),j("resize",W,!0),a.MutationObserver?new MutationObserver(W).observe(e,{childList:!0,subtree:!0,attributes:!0}):(e[h]("DOMNodeInserted",W,!0),e[h]("DOMAttrModified",W,!0),setInterval(W,999)),j("hashchange",W,!0),["focus","mouseover","click","load","transitionend","animationend","webkitAnimationEnd"].forEach(function(a){b[h](a,W,!0)}),/d$|^c/.test(b.readyState)?ca():(j("load",ca),b[h]("DOMContentLoaded",W),k(ca,2e4)),c.elements.length?(V(),z._lsFlush()):W()},checkElems:W,unveil:ba}}(),E=function(){var a,c=A(function(a,b,c,d){var e,f,g;if(a._lazysizesWidth=d,d+="px",a.setAttribute("sizes",d),n.test(b.nodeName||""))for(e=b.getElementsByTagName("source"),f=0,g=e.length;g>f;f++)e[f].setAttribute("sizes",d);c.detail.dataAttr||w(a,c.detail)}),e=function(a,b,d){var e,f=a.parentNode;f&&(d=y(a,f,d),e=v(a,"lazybeforesizes",{width:d,dataAttr:!!b}),e.defaultPrevented||(d=e.detail.width,d&&d!==a._lazysizesWidth&&c(a,f,e,d)))},f=function(){var b,c=a.length;if(c)for(b=0;c>b;b++)e(a[b])},g=C(f);return{_:function(){a=b.getElementsByClassName(d.autosizesClass),j("resize",g)},checkElems:g,updateElem:e}}(),F=function(){F.i||(F.i=!0,E._(),D._())};return c={cfg:d,autoSizer:E,loader:D,init:F,uP:w,aC:s,rC:t,hC:r,fire:v,gW:y,rAF:z}}});

      /*! lazysizes - v4.1.5 */
      !function(a,b){var c=function(){b(a.lazySizes),a.removeEventListener("lazyunveilread",c,!0)};b=b.bind(null,a,a.document),"object"==typeof module&&module.exports?b(require("lazysizes")):a.lazySizes?c():a.addEventListener("lazyunveilread",c,!0)}(window,function(a,b,c){"use strict";if(a.addEventListener){var d=/\s+/g,e=/\s*\|\s+|\s+\|\s*/g,f=/^(.+?)(?:\s+\[\s*(.+?)\s*\])(?:\s+\[\s*(.+?)\s*\])?$/,g=/^\s*\(*\s*type\s*:\s*(.+?)\s*\)*\s*$/,h=/\(|\)|'/,i={contain:1,cover:1},j=function(a){var b=c.gW(a,a.parentNode);return(!a._lazysizesWidth||b>a._lazysizesWidth)&&(a._lazysizesWidth=b),a._lazysizesWidth},k=function(a){var b;return b=(getComputedStyle(a)||{getPropertyValue:function(){}}).getPropertyValue("background-size"),!i[b]&&i[a.style.backgroundSize]&&(b=a.style.backgroundSize),b},l=function(a,b){if(b){var c=b.match(g);c&&c[1]?a.setAttribute("type",c[1]):a.setAttribute("media",lazySizesConfig.customMedia[b]||b)}},m=function(a,c,g){var h=b.createElement("picture"),i=c.getAttribute(lazySizesConfig.sizesAttr),j=c.getAttribute("data-ratio"),k=c.getAttribute("data-optimumx");c._lazybgset&&c._lazybgset.parentNode==c&&c.removeChild(c._lazybgset),Object.defineProperty(g,"_lazybgset",{value:c,writable:!0}),Object.defineProperty(c,"_lazybgset",{value:h,writable:!0}),a=a.replace(d," ").split(e),h.style.display="none",g.className=lazySizesConfig.lazyClass,1!=a.length||i||(i="auto"),a.forEach(function(a){var c,d=b.createElement("source");i&&"auto"!=i&&d.setAttribute("sizes",i),(c=a.match(f))?(d.setAttribute(lazySizesConfig.srcsetAttr,c[1]),l(d,c[2]),l(d,c[3])):d.setAttribute(lazySizesConfig.srcsetAttr,a),h.appendChild(d)}),i&&(g.setAttribute(lazySizesConfig.sizesAttr,i),c.removeAttribute(lazySizesConfig.sizesAttr),c.removeAttribute("sizes")),k&&g.setAttribute("data-optimumx",k),j&&g.setAttribute("data-ratio",j),h.appendChild(g),c.appendChild(h)},n=function(a){if(a.target._lazybgset){var b=a.target,d=b._lazybgset,e=b.currentSrc||b.src;if(e){var f=c.fire(d,"bgsetproxy",{src:e,useSrc:h.test(e)?JSON.stringify(e):e});f.defaultPrevented||(d.style.backgroundImage="url("+f.detail.useSrc+")")}b._lazybgsetLoading&&(c.fire(d,"_lazyloaded",{},!1,!0),delete b._lazybgsetLoading)}};addEventListener("lazybeforeunveil",function(a){var d,e,f;!a.defaultPrevented&&(d=a.target.getAttribute("data-bgset"))&&(f=a.target,e=b.createElement("img"),e.alt="",e._lazybgsetLoading=!0,a.detail.firesLoad=!0,m(d,f,e),setTimeout(function(){c.loader.unveil(e),c.rAF(function(){c.fire(e,"_lazyloaded",{},!0,!0),e.complete&&n({target:e})})}))}),b.addEventListener("load",n,!0),a.addEventListener("lazybeforesizes",function(a){if(a.detail.instance==c&&a.target._lazybgset&&a.detail.dataAttr){var b=a.target._lazybgset,d=k(b);i[d]&&(a.target._lazysizesParentFit=d,c.rAF(function(){a.target.setAttribute("data-parent-fit",d),a.target._lazysizesParentFit&&delete a.target._lazysizesParentFit}))}},!0),b.documentElement.addEventListener("lazybeforesizes",function(a){!a.defaultPrevented&&a.target._lazybgset&&a.detail.instance==c&&(a.detail.width=j(a.target._lazybgset))})}});
    </script>

    {%- comment -%}
      {% if page_description %}
        <meta name="description" content="{% if template contains 'search' %} {{ page_title }} - {{ shop.name }} {% else %}{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}{% endif %}" />
      {% endif %}
    {%- endcomment -%}
    

    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
      <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
      <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
      <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
      <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
      <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
      <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
      <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
    
    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js" | shopify_asset_url | script_tag }}
    {% endif %}
    
    {% if template contains 'product' %}
      {{ content_for_header }}
    {% else %}
      {% capture cfh %}
      {{ content_for_header }}
      {% endcapture %}
      {{ cfh | replace:'<script','<script async' }}
    {% endif %}
    
    {% render 'social-meta-info' %}
    
    {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
    {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css" rel="stylesheet">
    
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {"gdprAppliesGlobally":false,"countryDetection":true,"consentOnContinuedBrowsing":false,"whitelabel":false,"lang":"en","siteId":1932552,"cookiePolicyId":18630948, "banner":{ "brandBackgroundColor":"none","brandTextColor":"black","logo":"https://cdn.shopify.com/s/files/1/1594/4815/files/OPT_logo_d39be49b-80b0-4bf2-a961-7d71e13b6630_115x@2x.png?v=1541180582","acceptButtonDisplay":true,"customizeButtonDisplay":true,"acceptButtonColor":"#0e4f71","acceptButtonCaptionColor":"white","customizeButtonColor":"#0e4f71","customizeButtonCaptionColor":"#ffffff","rejectButtonColor":"#0e4f71","rejectButtonCaptionColor":"white","position":"float-bottom-center","textColor":"black","backgroundColor":"white" }};
    </script>

    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    
    <meta name="ahrefs-site-verification" content="c90ec79a9d9c1d65f6fa667e1f7fea711e87a5a44084c28046924836be5fcdd1">

    {% comment %}
    ------temporary for speed--------
    {% include 'chargeafter-widget' %}
    {% endcomment %}
    
    {% comment %}
    {{ 'searchanise-custom.js' | asset_url | script_tag }}
    {% endcomment %}

    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 1064588885;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js" async></script>
    <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1064588885/?guid=ON&amp;script=0"/>
      </div>
    </noscript>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-THMCBXF');</script>
      <!-- End Google Tag Manager -->

  </head>

  {% if template contains "index" %}
    {% assign feature_image = true %}
  {% elsif template contains "collection" %}
    {% assign feature_image = true %}
  {% elsif template contains "blog" %}
    {% assign feature_image = true %}
  {% elsif template contains "article" %}
    {% assign feature_image = true %}
  {% elsif template contains "contact" %}
    {% assign feature_image = true %}
  {% elsif template contains "finance" %}
    {% assign feature_image = true %}
  {% elsif template contains "product" %}
    {% assign feature_image = true %}
  {% elsif template contains "gallery" %}
    {% assign feature_image = true %}
  {% elsif template contains "banner" %}
    {% assign feature_image = true %}
  {% elsif template contains "details" %}
    {% assign feature_image = true %}
  {% elsif template contains "search" %}
    {% assign feature_image = true %}
  {% elsif template contains "cart" %}
    {% assign feature_image = true %}
  {% elsif template contains "about" %}
    {% assign feature_image = true %}
  {% elsif template contains "affiliate" %}
    {% assign feature_image = true %}
  {% elsif template contains "buyback" %}
    {% assign feature_image = true %}
  {% elsif template contains "beginner-LP" %}
    {% assign feature_image = true %}
  {% elsif template contains "pro-lander" %}
    {% assign feature_image = true %}
  {% elsif template contains "404" %}
    {% assign feature_image = true %}
  {% else %}
    {% assign feature_image = false %}
  {% endif %}

  <noscript>
    <style>
      .product_section .product_form,
      .product_gallery {
        opacity: 1;
      }

      .multi_select,
      form .select {
        display: block !important;
      }

      .image-element__wrap {
        display: none;
      }
    </style>
  </noscript>

{% include 'globo.formbuilder.scripts' %}

<body class="promo-banner--show {% if template == '404' %}error-404{% else %}{{ template | replace: '.', '-' | handle }}{% endif %}"
        data-money-format="
        {%- if settings.currency_format == 'money_with_currency_format' -%}
          {{ shop.money_with_currency_format | strip_html }}
        {%- else -%}
          {{ shop.money_format | strip_html }}
        {%- endif -%}"
        data-shop-currency="{{ shop.currency }}"
        data-shop-url="{{ shop.url }}">
    
    {% section 'header' %}

    {% section 'promo-bar' %}
    {% unless feature_image %}
      <div class="main content">
    {% endunless %}

      {{ content_for_layout }}
    </div>

    {% section 'footer' %}

    {% if settings.size_chart != blank and template contains 'product' %}
      {% render 'popup-size-chart' %}
    {% endif %}
    {% if settings.newsletter_popup %}
      {% render 'popup-newsletter' %}
    {% endif %}
    {% if settings.quick_shop_enabled %}
      {% render 'popup-quick-shop' %}
    {% endif %}
    {% if settings.disqus_enabled %}
      {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}

    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    {% if settings.show_multiple_currencies or settings.show_shipping_calculator %}
      <script type="text/javascript" src="/services/javascripts/currencies.js" data-no-instant></script>
    {% endif %}
    <script>
      {% render 'js-variables' %}
    </script>
    
    {% if template contains 'page' %}
    <script  src="//static.zotabox.com/4/2/423f72ff9fa41c2782f87d5e230f0b48/widgets.js"></script>
    {% endif %}

    {% if page.handle == 'cart' %}
      <script  src="//cdn.searchspring.net/intellisuggest/is.min.js"></script>
    {% endif %}
    
    {% if page.handle == 'pro-services' %}
      <script defer src="https://cdn.shopify.com/shopifycloud/shopify-xr-js/assets/v1.0/shopify-xr.en.js"></script>
      <script defer src="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.en.js"></script>
      <script type="text/javascript" src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.5/datamaps.world.min.js" charset="utf-8"></script>
    {% endif %}

    {%- if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 -%}
      <script defer src="{{ 'currencies.js' | asset_url }}"></script>
    {%- endif -%}

    {% if settings.show_shipping_calculator and template contains "cart" %}
      {% render 'cart-shipping-scripts' %}
    {% endif %}

    {% unless settings.performance == "sport" or template contains "customer" %}
    <script src="{{ 'instantclick.min.js' | asset_url }}" data-no-instant></script>

      <script data-no-instant defer="defer">

      function inIframe() {
        try {
          return window.self !== window.top;
        } catch (e) {
          return true;
        }
      }

      if (!inIframe()){
        InstantClick.on('change', function() {

          $('head script[src*="shopify"]').each(function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = $(this).attr('src');

            $('body').append(script);
          });

          $('body').removeClass('fancybox-active');
          $.fancybox.destroy();

          InstantClick.init();

        });
      }
      </script>
    {% endunless %}
    <script>
      {{ settings.custom_scripts }}
    </script>
    <div class="dark-bg"></div>

    <script rel="dns-prefetch" src="{{ 'vendors.js' | asset_url }}" async></script>
    <script src="{{ 'section-utils.js' | asset_url }}" async></script>
    
    <script>
      (function() {
        var script = document.createElement('script');
        script.src = 'https://unpkg.com/web-vitals';
        script.onload = function() {
          // When loading `web-vitals` using a classic script, all the public
          // methods can be found on the `webVitals` global namespace.
          webVitals.getCLS(console.log);
        }
        document.head.appendChild(script);
      }())
      </script>
    
    {% include 'mw_GP_objects' %}

    {% include 'iwish_v2' with 'iwishfooter' %}
    {% include 'iwish_v2_searchanise_collection' %}
    
    <!-- CRITEO START -->
    {% include 'criteo-tracking' %}
    <!-- CRITEO END -->

  {%- comment -%}{% if template contains "product" %}
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Product",
"@id": "{{ shop.url | append: '/products/' | append: product.handle }}#product_schemaplus"
{% if product.metafields.stamped.reviews_count and product.metafields.stamped.reviews_count != "0" %}
,"aggregateRating": {
"@type": "AggregateRating",
"ratingValue": {{ product.metafields.stamped.reviews_average }},
"ratingCount": {{ product.metafields.stamped.reviews_count }}
}
{% endif %}
}
</script>
  {% endif %}{%- endcomment -%}
  <!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install" defer="defer">!function(_){_.GORGIAS_CHAT_APP_ID="4660",_.GORGIAS_CHAT_BASE_URL="us-east1-898b.production.gorgias.chat",_.GORGIAS_API_BASE_URL="config.gorgias.chat";var e=new XMLHttpRequest;e.open("GET","https://config.gorgias.chat/applications/4660",!0),e.onload=function(t){if(4===e.readyState)if(200===e.status){var n=JSON.parse(e.responseText);if(!n.application||!n.bundleVersion)throw new Error("Missing fields in the response body - https://config.gorgias.chat/applications/4660");if(_.GORGIAS_CHAT_APP=n.application,_.GORGIAS_CHAT_BUNDLE_VERSION=n.bundleVersion,n&&n.texts&&(_.GORGIAS_CHAT_TEXTS=n.texts),n&&n.sspTexts&&(_.GORGIAS_CHAT_SELF_SERVICE_PORTAL_TEXTS=n.sspTexts),!document.getElementById("gorgias-chat-container")){var o=document.createElement("div");o.id="gorgias-chat-container",document.body.appendChild(o);var r=document.createElement("script");r.setAttribute("defer",!0),r.src="https://storage.googleapis.com/gorgias-chat-production-client-builds/{bundleVersion}/static/js/main.js".replace("{bundleVersion}",n.bundleVersion),document.body.appendChild(r)}}else console.error("Failed request GET - https://config.gorgias.chat/applications/4660")},e.onerror=function(_){console.error(_)},e.send()}(window||{});</script><script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->
  </body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!DOCTYPE', '!DOCTYPE' | split: ' <' %}
{% for html in content %}{% assign htmlblock = html | strip | prepend: ' <' %}{{htmlblock | replace: ' </', '</'}}{% endfor %}
