{% comment %}
** Collections - default view **
- Collection template
- Uses blocks
{% endcomment %}

{% assign temp = collection.description %}
{% if temp contains '<!-- glossary -->' %}
  {% assign temp_arr = temp | split: '<!-- glossary -->' %}
  {% for value in temp_arr %}

    {% if forloop.last == true %}
      {% assign glossary_data = value %}
    {% else %}
      {% assign temp = value %}
    {% endif %}
  {% endfor %}

  {% assign glossary_arr = glossary_data | split: '<p><strong>' %}

  {% capture glossary_content %}
    <div class="heading text-center">
      <h1 class="headline">{{section.settings.glossary_title}}</h1>
      {{ section.settings.glossary_desc }}
    </div>
    <div class="content">
      <div class="container">
        <div class="masonry  two-per-row">
          {% for value in glossary_arr %}
            {% if forloop.index != 1 %}
              {% assign data = value | prepend: '<p><strong>' %}
              <div class="one-whole column">
                {{data}}
              </div>
            {% else %}
              {{ value }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endcapture %}
{% endif %}

{% if temp contains '<!-- faq -->' %}
  {% assign temp_arr = temp | split: '<!-- faq -->' %}
  {% for value in temp_arr %}

    {% if forloop.last == true %}
      {% assign faq_data = value %}
    {% else %}
      {% assign temp = value %}
    {% endif %}
  {% endfor %}

  {% assign faq_arr = faq_data | split: '<p><strong>' %}

  {% capture faq_content %}
    <div class="heading text-center">
      <h1 class="headline">{{section.settings.faq_title}}</h1>
      {{ section.settings.faq_desc }}
    </div>
    <div class="content">
      <div class="container">
        <div class="masonry  two-per-row">
          {% for value in faq_arr %}
            {% if forloop.index != 1 %}
              {% assign data = value | prepend: '<p><strong>' %}
              <div class="one-whole column">
                {{data}}
              </div>
            {% else %}
              {{ value }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endcapture %}
{% endif %}

{% if temp contains '<!-- blog -->' %}
  {% assign temp_arr = temp | split: '<!-- blog -->' %}
  {% for value in temp_arr %}
    {% if forloop.last == true %}
      {% assign blog_data = value %}
    {% else %}
      {% assign temp = value %}
    {% endif %}
  {% endfor %}

  {% assign blog_arr = blog_data | split: '<h1>' %}
  {% capture blog_content %}
    <div class="content  {{section.settings.blog_style}} text-align-top">

      {% if section.settings.blog_style == 'list'%}
            {% assign cls = 'one-whole' %}
        {% else %}
            {% assign cls = 'one-half' %}
        {% endif %}

      <div class="container flex">
        {% for item in blog_arr %}
          {% if forloop.index != 1 %}
            {% assign blog = item | prepend: '<h1>' %}
              <div class="{{ cls }} medium-down--one-whole column">
                <div class="info">
                  {{ blog }}
                </div>
              </div>
            {% else %}
              {{ item }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endcapture %}
{% endif %}


{% if temp contains '<!-- blog banner -->' %}
  {% assign temp_arr = temp | split: '<!-- blog banner -->' %}
  {% for value in temp_arr %}
    {% if forloop.last == true %}
      {% assign blog_banner_data = value %}
    {% else %}
      {% assign temp = value %}
    {% endif %}
  {% endfor %}


  {% assign blog_banner_arr = blog_banner_data | split: '<h1>' %}

  {% assign description = blog_banner_arr[1] | prepend: '<h1 class="small-down--hide">' | split: '<!-- bottom text -->' | first %}
  {% assign bottom_description = blog_banner_arr[1] | prepend: '<h1 class="small-down--hide">' | split: '<!-- bottom text -->' | last  %}
  {% assign tmp = blog_banner_arr[1] | prepend: '<h1 class="hide small-down--show">' | split: '</h1>' %}
  {% assign mobile_title = tmp[0] | append: '</h1><img' %}
  {% assign image = blog_banner_arr[0] | replace: '<img', mobile_title %}
  {% capture blog_banner_content %}
    <div class="banner">
      {{ image }}
      <div class="caption captionOverlay--true">
        {{ description }}
      </div>
    </div>
    <div class="bottom-desc container">
      {{ bottom_description }}
    </div>
    
  {% endcapture %}
{% endif %}

{% if temp contains '<!-- sub description -->' %}
  {% assign temp_arr = temp | split: '<!-- sub description -->' %}
  {% for value in temp_arr %}
    {% if forloop.last == true %}
      {% assign sub_description = value %}
    {% else %}
      {% assign description = value %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign description = temp | strip_html | truncate: 300, '...' %}
{% endif %}


{% if section.settings.featured_collection_image %}
  {% if section.settings.wide_display == false %}
  <div class="container">
    <div class="sixteen columns">
  {% endif %}

  <header class="banner center page-banner dark-overlay-{{ section.settings.image_darken }} full-width--{{ section.settings.wide_display }}">
      {%- if section.settings.image -%}
        {% assign image = section.settings.image %}
      {%- else %}
        {% assign image = collection.products.first.featured_image %}
      {% endif %}

      {%- if section.settings.mobile_image -%}
        {% assign mobile_image = section.settings.mobile_image %}
      {%- else %}
        {% assign mobile_image = section.settings.image %}
      {% endif %}

      {% render 'image-element',
              image: image,
              alt: collection.title,
              stretch_width: true,
              progressive: true,
              additional_classes: 'small-down--hide'
      %}

      {% render 'image-element',
              image: mobile_image,
              alt: collection.title,
              stretch_width: true,
              progressive: true,
              additional_classes: 'small-up--hide'
      %}

      {% if section.settings.display_collection_title %}
        <div class="caption captionOverlay--true">
          {% if collection.title != blank %}
            {% assign title = collection.title %}
          {% else %}
            {% assign title = section.settings.title %}
          {% endif %}

          {% if description != blank %}
              {% assign desc = description %}
          {% else %}
            {% assign desc = section.settings.sub_title %}
          {% endif %}

          <h1 class="headline text-center">{{ title }}</h1>
          <p class="text-center">{{ desc }}</p>
          {% if sub_description != blank %}
          <div class="description_content flex">
            {% if section.settings.icon != blank %}
              <div class="icon">
                {{ section.settings.icon }}
              </div>
            {% endif %}
            {{ sub_description }}
          </div>
          {% endif %}
        </div>
      {% endif %}
  </header>

  {% if section.settings.wide_display == false %}
    </div>
  </div>
  {% endif %}
{% endif %}

<div class="icon-bar-section">
  <div class="container">
    <div class="sixteen columns">
      <div class="section clearfix">
      {% if section.blocks.size > 0 %}
        <div class="icon-bar container">
          {% for block in section.blocks %}
            <div class="icon-bar__item small-down--one-third" {{ block.shopify_attributes }}>
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="icon-bar__link">
              {% endif %}
              {% if block.settings.image != blank %}
                {% render 'image-element',
                        image: block.settings.image,
                        alt: block.settings.title
                %}
              {% elsif block.settings.svg != blank %}
                {{ block.settings.svg }}
              {% else %}
                {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              <p>{{block.settings.title}}</p>
              {% if block.settings.link != blank %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      </div>
    </div>
  </div>    
</div>



<div class="container">
    <div class="clearfix breadcrumb-collection medium-down--hide">
      {% if section.settings.collection_breadcrumb %}
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "{{ shop.url }}",
                  "name": "{{ 'general.breadcrumbs.home' | t }}"
                }
              },
              {
                "@type": "ListItem",
                "position": 2,
                "item": {
                  "@id": "{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}",
                  "name": "{{ collection.title | escape }}"
                }
              }
              {% if current_tags %}
                {% for tag in current_tags %}
                  {% unless tag contains 'meta-' %}
                    ,
                    {
                      "@type": "ListItem",
                      "position": {{ forloop.index | plus: 2 }},
                      "item": {
                        "@id": "{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}",
                        "name": "{{ tag }}"
                      }
                    }
                  {% endunless %}
                {% endfor %}
              {% endif %}
            ]
          }
        </script>

        <div class="eight columns breadcrumb_text medium-down--one-whole">
          <a href="{{ routes.root_url }}" title="{{ shop.name | escape }}">
            <span>{% render 'icon-pack' with icon: 'home' %}</span>
          </a>
          <span class="breadcrumb-divider"></span>
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="breadcrumb_link">
            <span>{{ collection.title }}</span>
          </a>
          {% if current_tags %}
            {% for tag in current_tags %}
              {% unless tag contains 'meta-' %}
                <span class="breadcrumb-divider"></span>
                <a href="{{ collection.url }}/{{ tag | handleize }}" title="{{ tag | escape }}">
                  <span>{{ tag }}</span>
                </a>
              {% endunless %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if collection.title == 'Solar Cheat Sheet' %}
        <!-- split -->
        <div class="column solar-content">
          {% include 'solar-cht-sht' %}
        </div>
    {% else %}
      {% assign colx = collection.handle %}
      {% if linklists[colx].links != blank %}
        <div class="sub-collections">
          {% for link in linklists[colx].links %}
            {% assign collectionx = link.object %}
              <div class="border-box one-sixth small-down--one-half medium-down--one-fourth column">
              <a href="{{ link.url }}">
                {% if link.url =="/pages/buyback-trade-in-used-telescope-equipment" %}
                <img src="https://cdn.shopify.com/s/files/1/1594/4815/files/bigmoney.png?16845706893680816674" alt="{{ link.title }}" width="49" height="49" />
                {% elsif collectionx.image.src == blank %}
                <img src="{{ collectionx.featured_image.src | img_url: '100x100' }}" alt="{{ link.title }}" width="49" height="49" />
                {% else %}
                <img src="{{ collectionx.image.src | img_url: '200x' }}" alt="{{ link.title }}" width="49" height="49" />
                {% endif %}
                <p class="">{{ link.title }}</p>
              </a>
              </div>
          {% endfor %}
        </div>
      {% endif %}
      

      <div class="collection_content" data-label="{{ section.settings.monthly_payment }}" >
        <div class="snize" id="snize_results"></div>
      </div>
    {% endif %}
</div>

{% if blog_banner_content != blank or blog_content != blank %}
  <div class="collection-blog-section">
    <div class="container">
      {{ blog_banner_content }}
      {{blog_content}}
    </div>
  </div>
{% endif %}


{% if faq_content != blank %}
  <div class="collection-faq-section">
    {{ faq_content }}
  </div>
{% endif %}

{% if glossary_content != blank %}
  <div class="collection-glossary-section">
    {{ glossary_content }}
  </div>
{% endif %}

{% schema %}

{
  "name": "Collection",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "featured_collection_image",
      "label": "Show banner",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115009455768-How-to-add-a-Collection-Banner)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image",
      "info": "1700 x 400px recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile banner image",
      "info": "414 x 200px recommended"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Moon photography"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub title",
      "default": "Equipment for creating a stunning moon photos. Right from the Earth."
    },
    {
      "type": "html",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "richtext",
      "id": "mobile_description",
      "label": "Mobile Description"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button title",
      "default": "Shop Guide"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "display_collection_title",
      "label": "Show collection title"
    },
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_filter_header",
      "label": "Enable collection header"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "checkbox",
      "id": "monthly_payment",
      "label": "Show Monthly payment"
    },
    {
      "type": "header",
      "content": "PaginItems"
    },
    {
      "type": "text",
      "id": "pagination_label",
      "label": "label",
      "default": "Showing"
    },
    {
      "type": "text",
      "id": "pagination_item_1",
      "label": "Item 1",
      "default": "12"
    },
    {
      "type": "text",
      "id": "pagination_item_2",
      "label": "Item 2",
      "default": "24"
    },
    {
      "type": "text",
      "id": "pagination_item_3",
      "label": "Item 3",
      "default": "48"
    },
    {
      "type": "header",
      "content": "blog data"
    },
    {
      "type": "select",
      "id": "blog_style",
      "label": "Blog list style",
      "options": [
          {
              "value": "list",
              "label": "List"
          },
          {
              "value": "grid",
              "label": "Grid"
          }
      ]
    },
    {
      "type": "header",
      "content": "faq data"
    },
    {
      "type": "text",
      "id": "faq_title",
      "label": "Faq title",
      "default": "FAQs"
    },
    {
      "type": "richtext",
      "id": "faq_desc",
      "label": "Faq description",
      "default": "<p>Still have questions? We have answers.</p>"
    },
    {
      "type": "text",
      "id": "glossary_title",
      "label": "Glossary title",
      "default": "Glossarys"
    },
    {
      "type": "richtext",
      "id": "glossary_desc",
      "label": "Glossary description",
      "default": "<p>Still have questions? We have answers.</p>"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "400 x 300px recommended"
        },
        {
          "type": "html",
          "id": "svg",
          "label": "Svg"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}

{% endschema %}
