{% comment %}
** Header - default view **
- Static section
{% endcomment %}

{% comment %} Structured data {% endcomment %}

<script type="application/json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.twitter_link }}",
      "{{ settings.facebook_link }}",
      "{{ settings.pinterest_link }}",
      "{{ settings.instagram_link }}",
      "{{ settings.tumblr_link }}",
      "{{ settings.snapchat_link }}",
      "{{ settings.youtube_link }}",
      "{{ settings.vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

{% if template.name == 'index' %}
  <script type="application/json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{% comment %}Mobile navigation{% endcomment %}
<header id="header" class="mobile_nav-fixed--{{ section.settings.mobile_fixed_header }}">
  {% comment %}
  <div class="ca-widget" style="height:100%;width:100%">
    <div class="ca-promotional-widget" data-widget-type="default">
    </div>
  </div>
  {% endcomment %}
  {% if section.settings.promo_text != blank %}
    <div class="promo-banner">
      <div class="promo-banner__content">
        {{ section.settings.promo_text }}
        {% if section.settings.promo_button_link != blank and section.settings.promo_button_title != blank %}
          <a href="{{section.settings.promo_button_link}}">{{section.settings.promo_button_title}}</a>
        {% endif %}
      </div>
      <div class="promo-banner__close"></div>
    </div>
  {% endif %}
  <div class="top-bar">
    <div class="container">
      <a class="mobile_nav dropdown_link" data-dropdown-rel="mobile_menu" data-no-instant="true">
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span class="menu_title">{{ 'layout.general.menu' | t }}</span>
      </a>
      <a href="{{ routes.root_url }}" title="{{ shop.name | escape }}" class="mobile_logo logo">
        {% if section.settings.logo_mobile != nil %}
          <img src="{{ section.settings.logo_mobile | img_url: '160x' }}" width="160" height="80" alt="{{ shop.name | escape }}" class="lazyload" />
        {% elsif section.settings.logo != nil %}
          <img src="{{ section.settings.logo | img_url: '160x' }}" width="160" height="80" alt="{{ shop.name | escape }}" class="lazyload" />
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>
      <div class="top-bar--right">
        <ul class="menu">
          {% if shop.customer_accounts_enabled %}
            <li>
              <a href="{{ routes.account_url }}" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> {% include 'icon-pack' with icon: 'user' %}</a>
            </li>
          {% endif %}
            <li>
              <a class="iwishView" href="/apps/iwish" rel="nofollow"> {% include 'icon-pack' with icon: 'wishlist' %}</a>
            </li>
          {% if section.settings.show_cart %}
            <li class="cart-container">
              <a href="{{ routes.cart_url }}" class="{% if section.settings.cart_icon != "cart" %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant>
                {% if section.settings.cart_icon == "cart" %}{% include 'icon-pack' with icon: 'cart' %}{% endif %}<span class="cart_count">{{ cart.item_count }}</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="container search-box-content">
      {% if section.settings.search_enabled %}
        <div class="search-container" data-autocomplete-{{ settings.enable_autocomplete }}>
          <form action="{{ routes.search_url }}" class="search_form">
            {% if settings.search_option != 'everything' %}
              <input type="hidden" name="type" value="product" />
            {% endif %}
            <span class="icon-search search-submit"></span>
            <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms | replace: '*', '' }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
          </form>
          <div class="search-link">
            <a href="{{ routes.search_url }}" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="dropdown_container" data-dropdown="mobile_menu">
    <div class="dropdown">
      <ul class="menu" id="mobile_menu">
        {% render 'mobile-menu', menu: section.settings.main_linklist %}
        {% for block in section.blocks %}
          {% if block.type == 'left_menu' %}
            <li><a href="{{block.settings.link}}" class=" {% if block.settings.type == 'button' %}  button {% endif %} {{block.settings.class}}">{{block.settings.title}}</a></li>
          {% endif %}
        {% endfor %}
        {% render 'mobile-menu', menu: section.settings.main_linklist2, additional_cls: "border-box" %}
        <li class="blog_link link_buttons second-button"><a href="https://optcorp.com/OPTUniversity" class="button align_right border-button">Learn with OPT</a></li>
        {% if section.settings.button_link != blank and section.settings.button_title != blank %}
            <li class="link_buttons second-button"><a href="{{section.settings.button_link}}" class="button align_right border-button">{{section.settings.button_title}}</a></li>
        {% endif %}
        <div class="feature_divider"></div>
        {% render 'mobile-menu', menu: section.settings.top_bar_menu %}
        
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              <a href="{{ routes.account_url }}" data-no-instant>{{ customer.name }}</a>
            </li>
            <li data-no-instant>
              <a href="{{ routes.account_logout_url }}" id="customer_logout_link">{{ 'layout.customer.log_out' | t }}</a>
            </li>
          {% else %}
            <li data-no-instant>
              <a href="{{ routes.account_login_url }}" id="customer_login_link">{{ 'layout.customer.log_in' | t }}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="bottom_menu">
        {% for block in section.blocks %}
          {% if block.type == 'right_menu' %}
            <li class="link_buttons"><a href="{{block.settings.link}}" class=" {% if block.settings.type == 'button' %}  button {% endif %} {{block.settings.class}}">{{block.settings.title}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
<a name="pagecontent" id="pagecontent"></a>
{% if template contains "index" %}
  {% assign feature_image = true %}
{% elsif template contains "collection" %}
  {% assign feature_image = true %}
{% elsif template contains "blog" %}
  {% assign feature_image = true %}
{% elsif template contains "article" %}
  {% assign feature_image = true %}
{% elsif template contains "contact" %}
  {% assign feature_image = true %}
{% elsif template contains "product" %}
  {% assign feature_image = true %}
{% elsif template contains "gallery" %}
  {% assign feature_image = true %}
{% elsif template contains "banner" %}
  {% assign feature_image = true %}
{% elsif template contains "details" %}
  {% assign feature_image = true %}
{% elsif template contains "faq" %}
  {% assign feature_image = true %}
{% elsif template contains "search" %}
  {% assign feature_image = true %}
{% elsif template contains "cart" %}
  {% assign feature_image = true %}
{% else %}
  {% assign feature_image = false %}
{% endif %}

{% comment %}Main navigation{% endcomment %}
<header class="{% if feature_image %}feature_image{% endif %} {% if section.settings.logo_home != nil %}secondary_logo--true{% endif %} search-enabled--{{ section.settings.search_enabled }}">
  <div class="header {% if feature_image and settings.header_background == false %}is-absolute {% endif %} header-fixed--{{ section.settings.fixed_header }} {% if settings.header_background %}header-background--solid{% endif %}">
    {% if section.settings.promo_text != blank %}
      <div class="promo-banner">
        <div class="promo-banner__content">
          {{ section.settings.promo_text }}
          {% if section.settings.promo_button_link != blank and section.settings.promo_button_title != blank %}
            <a href="{{section.settings.promo_button_link}}">{{section.settings.promo_button_title}}</a>
          {% endif %}
        </div>
        <div class="promo-banner__close"></div>
      </div>
    {% endif %}
    <div class="top-bar">
      <div class="container">
        <div class="logo_content">
          <div class="header__logo {% if section.settings.logo_home == blank and section.settings.logo == blank %}logo--text{% else %}logo--image{% endif %}">
            <a href="{{ routes.root_url }}" title="{{ shop.name }}">
              {% if section.settings.logo_home != nil %}
                <img data-src="{{ section.settings.logo_home | img_url: '240x' }}" class="secondary_logo lazyload" width="120" height="72" alt="{{ shop.name | escape }}" src="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='120'%20height='72'></svg>"/>
              {% endif %}
              {% if section.settings.logo != nil %}
                <img data-src="{{ section.settings.logo | img_url: '240x' }}" class="primary_logo lazyload" width="120" height="72" alt="{{ shop.name | escape }}" src="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='120'%20height='72'></svg>"/>
              {% else %}
                <span class="header__logo-text">{{ shop.name }}</span>
              {% endif %}
            </a>
          </div> 
          <p>{{section.settings.logo_text | newline_to_br }}</p>
        </div>
        
        {% if section.settings.search_enabled %}
          <div class="search-container" data-autocomplete-{{ settings.enable_autocomplete }}>
            <form action="{{ routes.search_url }}" class="search_form">
              {% if settings.search_option != 'everything' %}
                <input type="hidden" name="type" value="product" />
              {% endif %}
              <span class="icon-search search-submit"></span>
              <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms | replace: '*', '' }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
            </form>
            <div class="search-link">
              <a href="{{ routes.search_url }}" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
            </div>
          </div>
        {% endif %}
  
        <div class="top-bar--right-menu">
          <ul class="menu medium-down--hide">
            {% if section.settings.phone_number != blank %}
              <li><a href="tel:{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{% include 'icon-pack' with icon: 'phone' %}{{ section.settings.phone_number }}</a></li>
            {% endif %}
              
            {% if shop.customer_accounts_enabled %}
              <li>
                <a href="{{ routes.account_url }}" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> <span>{{ 'layout.customer.my_account' | t }}</span></a>
              </li>
            {% endif %}
            <li>
              <a class="iWishView "  rel="nofollow" href="/apps/iwish"><span>Wishlist</span> <span class="iWishCount">0</span></a>
            </li>
          </ul>
          <ul class="menu medium-up--hide">
            {% if shop.customer_accounts_enabled %}
              <li>
                <a href="{{ routes.account_url }}" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> {% include 'icon-pack' with icon: 'user' %}</a>
              </li>
            {% endif %}
              <li>
                <a href="#"> {% include 'icon-pack' with icon: 'wishlist' %}</a>
              </li>
          </ul>
          {% if section.settings.show_cart %}
            <div class="cart-container">
              <a href="{{ routes.cart_url }}" class="{% if section.settings.cart_icon != "cart" %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant>
                {% if section.settings.cart_icon == "cart" %}{% include 'icon-pack' with icon: 'cart' %}{% endif %}<span class="cart_count">{{ cart.item_count }}</span>
              </a>
            </div>
            {% include 'mini-cart' %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="main-nav__wrapper">
      {% comment %}
      <div class="second-logo_content">
        <div class="header__logo {% if section.settings.logo_home == blank and section.settings.logo == blank %}logo--text{% else %}logo--image{% endif %}">
          <a href="{{ routes.root_url }}" title="{{ shop.name }}">
            {% if section.settings.logo_home != nil %}
              <img src="{{ section.settings.logo_home | img_url: '410x' }}" class="secondary_logo" alt="{{ shop.name | escape }}" />
            {% endif %}
            {% if section.settings.logo != nil %}
              <img src="{{ section.settings.logo | img_url: '410x' }}" class="primary_logo lazyload" alt="{{ shop.name | escape }}" />
            {% else %}
              <span class="header__logo-text">{{ shop.name }}</span>
            {% endif %}
          </a>
        </div> 
      </div>
      {% endcomment %}
      <div class="main-nav menu-position--{{ section.settings.menu_position }} logo-alignment--{{ section.settings.logo_alignment }} logo-position--{{ section.settings.logo_position }} search-enabled--{{ section.settings.search_enabled }}" {% if section.settings.dropdown_click == true %}data-show-dropdown-on-click{% endif %}>
      
        {% assign vertical_menu = section.settings.vertical_menu %}

        {% capture menu_left %}
          {% if vertical_menu %}
            {% render 'vertical-menu', linklist: section.settings.main_linklist %}
          {% else %}
            {% render 'menu', linklist: section.settings.main_linklist %}
          {% endif %}
        {% endcapture %}

        {% capture menu_right %}
          {% if vertical_menu %}
            {% render 'vertical-menu', linklist: section.settings.main_linklist2 %}
          {% else %}
            {% render 'menu', linklist: section.settings.main_linklist2 %}
          {% endif %}
        {% endcapture %}

        <div class="nav nav--combined nav--{{ section.settings.menu_alignment }}">
          <div class="container">
            <ul class="menu {{ section.settings.menu_alignment }}">
              {{ menu_left }}
              {{ menu_right }}
              {% for block in section.blocks %}
              {% if block.type == 'left_menu' %}
                <li class="{% if block.settings.display == 'mobile' %}hide small-down--hide{% endif %}"><a href="{{block.settings.link}}" class=" {% if block.settings.type == 'button' %}  button {% endif %}  align_right {{block.settings.class}}">{{block.settings.title}}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
            <ul class="menu align_left">
              <li class="blog_link"><a href="/blogs/astronomy"><img data-src="{{ 'OPT_University.png' | asset_url }}" class="lazyload" width="145" height="22" src="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'></svg>"></a></li>
            </ul>
            <ul class="menu align_right">
              {% for block in section.blocks %}
                {% if block.type == 'right_menu' %}
                  <li class="{% if block.settings.display == 'mobile' %}hide small-down--hide{% endif %}"><a href="{{block.settings.link}}" class="{% if block.settings.type == 'button' %}  button {% endif %}  align_right {{block.settings.class}}">{{block.settings.title}}</a></li>
                {% endif %}
              {% endfor %}
              {% if section.settings.button_link != blank and section.settings.button_title != blank %}
                  <li><a href="{{section.settings.button_link}}" class="button align_right border-button">{{section.settings.button_title}}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% comment %}
        {% render 'sub-menu', linklist: section.settings.main_linklist %}
        {% render 'sub-menu', linklist: section.settings.main_linklist2 %}
        {% endcomment %}
      </div>
    </div> 
  </div>
</header>
{% if section.settings.fixed_header %}
<a name="pagecontent" id="pagecontent"></a>
{% endif %}
{% include 'brand-popup' %}

{% schema %}

{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Text",
      "info": "Maximum character limit is 170"
    },
    {
      "type": "text",
      "id": "promo_button_title",
      "label": "Button title"
    },
    {
      "type": "url",
      "id": "promo_button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Top bar"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Menu",
      "info": "This menu won't show drop-down items"
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a payment, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Logos"
    },
    {
      "type": "range",
      "id": "logo_display_width",
      "label": "Logo display width",
      "step": 5,
      "min": 105,
      "max": 205,
      "default": 205,
      "unit": "px"
    },
    {
      "type": "textarea",
      "id": "logo_text",
      "label": "Logo text"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Second menu button title",
      "default": "B2B, Go & Edu"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Second menu button link"
    },
    {
      "type": "checkbox",
      "id": "vertical_menu",
      "label": "Enable vertical menus",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dropdown_click",
      "label": "Open dropdowns on click instead of hover",
      "default": false
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Show search",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "mobile_fixed_header",
      "label": "Mobile Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ],
      "default": "align_left"
    }
  ],
  "blocks": [
    {
      "type": "right_menu",
      "name": "Right menu item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "html",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "select",
          "id": "type",
          "label": "menu type",
          "options": [
            {
              "value": "button",
              "label": "Button"
            },
            {
              "value": "link",
              "label": "Link"
            }
          ]
        },
        {
          "type": "select",
          "id": "display",
          "label": "display status",
          "options": [
            {
              "value": "desktop",
              "label": "mobile / desktop"
            },
            {
              "value": "mobile",
              "label": "mobile only"
            }
          ]
        },
        {
          "type": "text",
          "id": "class",
          "label": "Additional class"
        }
      ]
    },
    {
      "type": "left_menu",
      "name": "Left menu item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "type",
          "label": "menu type",
          "options": [
            {
              "value": "button",
              "label": "Button"
            },
            {
              "value": "link",
              "label": "Link"
            }
          ]
        },
        {
          "type": "select",
          "id": "display",
          "label": "display status",
          "options": [
            {
              "value": "desktop",
              "label": "mobile / desktop"
            },
            {
              "value": "mobile",
              "label": "mobile only"
            }
          ]
        },
        {
          "type": "text",
          "id": "class",
          "label": "Additional class"
        }
      ]
    },
    {
      "type": "menu_banner",
      "name": "Banner image",
      "settings": [
        {
          "type": "text",
          "id": "menu",
          "label": "Menu title"
        },
        {
          "type": "image_picker",
          "id": "banner_1",
          "label": "Banner 1"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title 1"
        },
        {
          "type": "text",
          "id": "link_title_1",
          "label": "Link Title 1"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link 1"
        },
        {
          "type": "image_picker",
          "id": "banner_2",
          "label": "Banner 2"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title 2"
        },
        {
          "type": "text",
          "id": "link_title_2",
          "label": "Link Title 2"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link 2"
        }
      ]
    },
    {
      "type": "mega_menu",
      "name": "mega_menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "top banner"
        },
        {
          "type": "image_picker",
          "id": "image_top",
          "label": "image"
        },
        {
          "type": "text",
          "id": "image_title_top",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "image_caption_top",
          "label": "text"
        },
        {
          "type": "url",
          "id": "image_link_top",
          "label": "link"
        },
        {
          "type": "header",
          "content": "Bottom banner"
        },
        {
          "type": "image_picker",
          "id": "image_bottom",
          "label": "image"
        },
        {
          "type": "text",
          "id": "image_title_bottom",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "image_caption_bottom",
          "label": "text"
        },
        {
          "type": "url",
          "id": "image_link_bottom",
          "label": "link"
        },
        {
          "type": "richtext",
          "id": "bottom_description",
          "label": "Bottom description"
        }
      ]
    }
  ]
}

{% endschema %}
