{% comment %}
** Logos - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

<div class="logo-bar-section container">
  <div class="sixteen columns">
    <div class="section clearfix">
    {% if section.settings.title != blank %}
    <p class="heading capitalize center" style="color: {{section.settings.title_color}}">{{ section.settings.title | escape }}</p>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="logo-bar js-collection-slider">
        <div class="products-slider slider-gallery">
          {% for block in section.blocks %}
            {% assign modulo = forloop.index | minus: 1 | modulo:2 %}
            {% if modulo == 0 %}
              {% if forloop.index != 1 %}
                </div>
              {% endif %}
              <div class="gallery-cell one-seventh medium-down--one-third small-down--one-third column">
            {% endif %}
            <div class="logo-bar__item border-box" {{ block.shopify_attributes }}>
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="logo-bar__link">
              {% endif %}
              {% if block.settings.image != blank %}
                {% render 'image-element',
                        image: block.settings.image,
                        alt: block.settings.title,
                        object_fit: true,
                        max_height: 37
                %}
              {% else %}
                {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              {% if block.settings.link != blank %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Logo list",
    "class": "logo-list-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#000000"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "400 x 300px recommended"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "logo title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
