{% comment %}
** Product - default view **
- Product template
{% endcomment %}

<div class="container main product-name--{{ product.handle }}">

  <div class="sixteen columns">
    {% if collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
      <div class="clearfix breadcrumb-collection">
        {% if section.settings.product_breadcrumb %}
          {% render 'product__breadcrumb' %}
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="product clearfix">
    <div class="sixteen columns product__container">
      <div  class="product-{{ product.id }}"
            data-free-text="{{ settings.free_price_text }}"
            >
        <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" data-rv-handle="{{ product.handle }}">

          <div class="eight product__images columns medium-down--one-whole {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
            {% render 'product-images',
                    product: product,
                    video_looping: section.settings.video_looping,
                    set_product_height: section.settings.set_product_height
            %}
          </div>

          <div class="seven product-info columns medium-down--one-whole  {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

            {% assign collection_handles = product.collections | map: 'handle' %}
            {% assign variant = product.selected_or_first_available_variant %}

            {% if product.available %}
              {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
                <div class="sale_banner_product">{{ 'collections.general.sale_html' | t }}</div>
              {% endif %}
            {% endif %}
            {% if collection_handles contains 'new' %}
              <div class="new_banner_product">{{ 'collections.general.new_html' | t }}</div>
            {% endif %}
            {% if collection_handles contains 'pre-order' %}
              <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
            {% endif %}

            {% if section.settings.display_vendor %}
              <p class="vendor">
                <span class="vendor">{{ product.vendor | link_to_vendor }}</span>
              </p>
            {% endif %}

            
            <h1 class="product_name">{{ product.title }}</h1>
            <p class="sku"> SKU : <span>{{ variant.sku }}</span> </p>
            <div class="relative">
              {% if section.settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
              <div class="review">
                <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;"></span> - <a href="#reviews" class="review_link" data-no-instant="true">Read</a>
              </div>
              
              {% endif %}
              
              {% assign flag_status = false %}
              {% for tag in product.tags %}
                  {% assign tag_str = tag_str | append: tag %}
                {% endfor %}
                {% if product.available == false %}
                  {% assign flag_status = true %}
                {% elsif product.tags contains  'specs-Free Shipping-Yes' %}
                  {% assign flag_status = true %}
                {% endif %}
                
                {% for block in section.blocks %}
                  {% if block.type == 'popup' and product.tags contains block.settings.tag %}
                      {% assign flag_status = true %}
                  {% endif %}
                {% endfor %}
              {% if flag_status %}
                <div class="feature_divider"></div>
                <ul class="tag-blocks">
                  {% for tag in product.tags %}
                    {% assign tag_str = tag_str | append: tag %}
                  {% endfor %}
                  {% if product.available == false %}
                    <li class="out-stock"> <p> No Longer Available </p></li>
                  {% elsif product.tags contains  'specs-Free Shipping-Yes' %}
                    <li class="free-shipping">{% include 'icon-pack' with icon: 'free_shipping' %} <p> Free Shipping </p></li>
                  {% else %}
                    <li> </li>
                  {% endif %}
                  
                  {% assign flag_status = false %}
                  {% if product.selected_or_first_available_variant.inventory_quantity > 1 %}
                    <li class="back-stock toggle_btn" style="background-color: #cbf3d0;"><p>In Stock</p></li>
				          {% elsif product.selected_or_first_available_variant.inventory_quantity == 1 %}
                    <li class="back-stock toggle_btn" style="background-color: #F7E9CE;"><p>One Left in Stock</p></li>
                  {% elsif product.selected_or_first_available_variant.inventory_quantity < 1 %}
                  {% for block in section.blocks %}
                    {% if block.type == 'popup' and product.tags contains block.settings.tag %}
                      <li class="back-stock toggle_btn" style="background-color: {{ block.settings.color }};">
                        <p>{{ block.settings.title }}  </p>
                        {% if block.settings.text != blank %}
                        {% include 'icon-pack' with icon: 'question' %}
                          <div class="toggle_content animated fadeInUp flex hide">
                            <div class="icon">
                              {{ block.settings.icon }}
                            </div>
                            <div class="info">
                              <p>{{block.settings.text}}</p>
                            </div>
                          </div>
                        {% endif %}
                      </li>
                      {% assign flag_status = true %}
                    {% endif %}
                  {% endfor %}
				            {% unless flag_status %}
                  	  {% assign message = 'More on the Way in 14 - 28 days' %}
                		  <li class="back-stock toggle_btn" style="background-color: #F7E9CE;">{{ message }}</p></li>
                    {% endunless %}
			            {%endif %}
                </ul>
              {% endif %}

              <div class="feature_divider"></div>

              {% if collection_handles contains 'coming-soon' %}
                <p class="modal_price">{{ 'collections.general.coming_soon_html' | t }}</p>
              {% else %}
                <div class="modal_price">
                  {% unless product.available == false and settings.display_price == false %}
                    <div class="price__container price__container--display-price-{{ settings.display_price }} {% if settings.display_price %}has-margin-right{% endif %}">
                      <span content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                        <span class="current_price">
                          {% if variant.price > 0 %}
                            <span class="money">{% render 'price-element', price: variant.price %}</span>
                          {% else %}
                            {{ settings.free_price_text }}
                          {% endif %}
                        </span>
                      </span>
                      <span class="was_price">
                        {% if variant.price < variant.compare_at_price %}
                          <span class="money">{% render 'price-element', price: variant.compare_at_price %}</span>
                        {% endif %}
                      </span>
                      {% if section.settings.display_savings %}
                        <span class="sale savings">
                          {% if variant.price < variant.compare_at_price %}
                            {{ 'products.product.savings_html' | t }}  {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{% assign compare_at = variant.compare_at_price | minus: variant.price %}{% render 'price-element', price: compare_at %}</span>)
                          {% endif %}
                        </span>
                    {% endif %}
                    </div>
                  {% endunless %}

                  <div class="ca-promotional-widget" data-widget-type="product-widget-installments" data-widget-item-sku="{{ product.selected_or_first_available_variant.sku }}" 
                    data-widget-item-price="{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}" data-widget-financing-page-url="https://optcorp.com/pages/financing-info-page">
                  </div>
                  <div  class="guarantee">
                    {% if section.settings.guarantee_link != blank %}
                      <a href="{{section.settings.guarantee_link}}">
                    {% endif %}
                    
                      
                      <div class="icon">
                        {% include 'icon-pack' with icon: '$' %}
                      </div>
                      <p>{{ 'products.product.guarantee' | t }}</p>

                    {% if section.settings.guarntee_link != blank %}
                      </a>
                    {% endif %}
                  </div>
                  
                  
                </div>
              {% endif %}

              {% unless collection_handles contains 'coming-soon' %}
                {% render 'product-form',
                        context: 'product',
                        collection_handles: collection_handles
                %}
            </div>
              {% render 'product-notify-me', product: product %}
            {% endunless %}
            <div class="live-chart">
                <p>{% render 'icon-pack' with icon: 'chart' %}{{ 'products.product.chart_html' | t }}</p>
                
            </div>
            <div class="feature_divider"></div>


            {% if product.description contains "<!-- split -->"  %}
              <div class="section clearfix">
                <div class="description">
                  {% assign description = product.description | split: '<!-- split -->' %}
                  {{ description[1] }}
                </div>
              </div>
            {% endif %}


            <div class="meta">
              {% if section.settings.display_social_buttons %}
                {% render 'social-buttons', context: 'product' %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="recommend-block">
          {% include 'cross-sell' %}
        </div>
        
        

        <div class="bottom-content">
          <p class="heading text-center">{{ 'products.product.detail_header' | t }}</p>
          <ul class="tabs">
            <li><a class="active" href="#description">Description</a></li>
            {% for tag in product.tags %}
              {% assign tag_str = tag_str | append: tag %}
            {% endfor %}
            {% if tag_str contains 'specs-' %}
            <li><a href="#specifications">Specifications</a></li>
            {% endif %}
            {% if product.description contains "<!-- split -->"%}
              {% assign include_str = product.description | split: '<!-- split -->' | last %}
              {% if include_str != blank %}
                <li><a href="#included">Included Items</a></li>
              {% endif %}
            {% endif %}
            <li><a href="#reviews">Reviews</a></li>
          </ul>
          <!--Start tab content-->
          <ul class="tab-list"> 
            <li id="description">
              <div class="description bottom clearfix">
                {{ product.description | split: '<!-- split -->' | first }}
              </div>
            </li>
            {% for tag in product.tags %}
              {% assign tag_str = tag_str | append: tag %}
            {% endfor %}
            {% if tag_str contains 'specs-' %}
              <li id="specifications">
                <p class="heading capitalize">specifications</p>
                <!--<div class="specs-table"  itemprop="additionalProperty"  itemtype="http://schema.org/PropertyValue">-->
                <div class="specs-table"  itemprop="additionalProperty">
                  <table class="specifications">
                    <tbody>
                    {% for tag in product.tags %}
                        {% if tag contains 'specs-' %}
                          {% unless tag contains 'Price' %} 	
                          {% assign tagx = tag | split: 'specs-' | last %}
                            <tr>
                              <td class="left">{{ tagx | split: '-' | first }}</td><td class="right">{{ tagx | split: '-' | last }}</td>
                            </tr>
                          {% endunless %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                  <div class="clearfix"></div>
                </div>
              </li>
            {% endif %}
            
            {% if product.description contains "<!-- split -->"%}
              {% assign include_str = product.description | split: '<!-- split -->' | last %}
              {% if include_str != blank %}
                <li id="included">
                  <p class="heading capitalize">included items</p>
                  
                    <div class="section clearfix">
                      <div class="description">
                        {{ include_str }}
                      </div>
                    </div>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
{% for block in section.blocks %}
  {% if block.type == 'instagram' %}
    <div class="instagram-section">
      {% assign images_per_row = settings.grid-size %}
    
      {% if block.settings.wide_display == false %}
      <div class="container">
        <div class="sixteen columns">
      {% endif %}
      <div  id="gallery_section-{{block.id}}"
            class=" gallery-section
                    gallery-{{ block.settings.gallery_type }}
                    {% if block.settings.wide_display %}
                      gallery-full
                    {% endif %}">
    
      {% if block.settings.title != blank %}
        <div class="container">
          <div class="sixteen columns">
            <h2 class="title center">{{ block.settings.title | escape }}</h2>
            {{ block.settings.sub_title }}
          </div>
        </div>
        {% endif %}
    
        <div class="gallery-break"></div>
        <div id="stamped-reviews-widget" data-widget-type="instagram-feed" ></div>
        </div>
    
      {% if block.settings.wide_display == false %}
        </div>
      </div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}

<div id="reviews">
  <div class="container">
    <div class="page-content">
      <div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
        <h1 class="title">Product Reviews</h1>
        <div id="stamped-main-widget" 
          data-widget-style="standard"
          data-product-id="{{ product.id }}" 
          data-name="{{ product.title | escape }}" 
          data-url="{{ shop.url }}{{ product.url }}" 
          data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
          data-description="{{ product.description | escape }}" 
          data-product-sku="{{product.handle}}"> 
          {{ product.metafields.stamped.reviews }} 
        </div>  
      </div>
    </div>
  </div>
</div>

{%- comment -%}
{% if section.settings.display_recently_viewed %}
  {% include 'include-recently-viewed' %}
{% endif %}
{%- endcomment -%}

      

{% if section.settings.set_product_height %}
  {% style %}
    .gallery-wrap model-viewer {
      min-height: {{ section.settings.product_height }}px;
    }

    .gallery-wrap .product_gallery img,
    .gallery-wrap .product_gallery .plyr--html5 video,
    .gallery-wrap .product_gallery .plyr--youtube {
      max-height: {{ section.settings.product_height }}px;
    }
  {% endstyle %}
{% endif %}

{% comment %} Shopify-XR {% endcomment %}
{% if product.media %}
<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
    {% assign models = product.media | where: 'media_type', 'model' | json %}
    ShopifyXR('addModels', {{ models }});
</script>
{% endif %}

{% comment %}
<script type="application/ld+json" data-creator_name="FeedArmy">
{
  "@context": "http://schema.org/",
/*  "@type": "Product",
  "name": "{{ product.title | strip_html | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {%- if product.variants.first.sku != blank -%}
    "sku": "{{ product.variants.first.sku }}",
  {%- else -%}
    "sku": "{{ product.variants.first.id }}",
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 12 -%}
    "gtin12": {{ product.variants.first.barcode }},
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 13 -%}
    "gtin13": {{ product.variants.first.barcode }},
  {%- endif -%}
  {%- if product.variants.first.barcode.size == 14 -%}
    "gtin14": {{ product.variants.first.barcode }},
  {%- endif -%}
    "productID": "{{ product.id }}",*/
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  "description": {{ product.description | strip_html | json }},
  "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
  {%- if product.variants -%}
  {%- assign fa_count = fa_count | plus: 1 -%}
    "offers": {% if product.variants.size > 1 %}[{% endif %}
      {
        "@type" : "Offer",
        "priceCurrency": "{{ cart.currency.iso_code }}",
        "price": "{{ product.selected_or_first_available_variant.price | money_without_currency  | strip_html | remove: ',' }}",
        "itemCondition" : "http://schema.org/NewCondition",
        "availability" : "http://schema.org/{% if product.selected_or_first_available_variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "url" : "{{ shop.url }}{{ product.selected_or_first_available_variant.url }}",
            {%- if product.selected_or_first_available_variant.image -%}
              {% assign variant_image_size = product.selected_or_first_available_variant.image.width | append: 'x' %}
              "image": "https:{{ product.selected_or_first_available_variant.image.src | img_url: variant_image_size }}",
            {%- else -%}
              "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
            {%- endif -%}
            {%- if product.selected_or_first_available_variant.title != 'Default Title' -%}
              "name" : "{{ product.title | strip_html | escape }} - {{ product.selected_or_first_available_variant.title | escape }}",
            {%- else -%}
              "name" : "{{ product.title | strip_html | escape }}",
            {%- endif -%}
            {% if product.selected_or_first_available_variant.barcode.size == 12 %}
              "gtin12": {{ product.selected_or_first_available_variant.barcode }},
            {%- endif -%}
            {%- if product.selected_or_first_available_variant.barcode.size == 13 -%}
              "gtin13": {{ product.selected_or_first_available_variant.barcode }},
            {%- endif -%}
            {%- if product.selected_or_first_available_variant.barcode.size == 14 -%}
              "gtin14": {{ product.selected_or_first_available_variant.barcode }},
            {%- endif -%}
            {%- if product.selected_or_first_available_variant.sku != blank -%}
              "sku": "{{ product.selected_or_first_available_variant.sku }}",
            {%- else -%}
              "sku": "{{ product.selected_or_first_available_variant.id }}",
            {%- endif -%}
            {%- if product.description != blank -%}
            "description" : {{ product.description | strip_html | json }},
            {%- endif -%}
          "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
      }{%- if product.variants.size != 1 -%},{%- endif -%}
      {%- for variant in product.variants -%}
      {%- if variant != product.selected_or_first_available_variant -%}
      {%- assign fa_count = fa_count | plus: 1 -%}
        {
          "@type" : "Offer",
          "priceCurrency": "{{ cart.currency.iso_code }}",
          "price": "{{ variant.price | money_without_currency  | strip_html | remove: ',' }}",
          "itemCondition" : "http://schema.org/NewCondition",
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "url" : "{{ shop.url }}{{ variant.url }}",
              {%- if variant.image -%}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {%- else -%}
                "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
              {%- endif -%}
              {%- if variant.title != 'Default Title' -%}
                "name" : "{{ product.title | strip_html | escape }} - {{ variant.title | escape }}",
              {%- else -%}
                "name" : "{{ product.title | strip_html | escape }}",
              {%- endif -%}
              {%- if variant.barcode.size == 12 -%}
                "gtin12": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 13 -%}
                "gtin13": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 14 -%}
                "gtin14": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.sku != blank -%}
                "sku": "{{ variant.sku }}",
              {%- else -%}
                "sku": "{{ variant.id }}",
              {%- endif -%}
              {%- if product.description != blank -%}
              "description" : {{ product.description | strip_html | json }},
              {%- endif -%}
              "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
          }
          {%- if fa_count < fa_variant_count -%}
         	{%- unless forloop.last -%},{%- endunless -%}
          {%- endif -%}
          {%- endif -%}
      {%- endfor -%}
    {%- if product.variants.size > 1 -%}],
      "additionalProperty": [{
        "@type": "PropertyValue",
        "propertyID": "item_group_id",
        "value": "{{ product.id }}"
      }]
      {%- endif -%}
    {%- if product.metafields.stamped.reviews_count -%}
    ,"aggregateRating": {
     "@type": "AggregateRating",
     "ratingValue": {{ product.metafields.stamped.reviews_average }},
     "ratingCount": {{ product.metafields.stamped.reviews_count }}
    }
    {%- endif -%}
  {%- endif -%}
}
</script>
{% endcomment %}

{% schema %}

{
  "name": "Product",
  "class": "product-template",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails",
      "default": "bottom",
      "options": [
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product information"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Media position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Product reviews"
    },
    {
      "type": "paragraph",
      "content": "Reviews app must be enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360008549274#section2)"
    },
    {
      "type": "checkbox",
      "id": "enable_shopify_product_badges",
      "label": "Display star rating on product",
      "default": false
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "description_status",
      "label": "Description status",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "vendor_link_status",
      "label": "Vendor link"
    },
    {
      "type": "checkbox",
      "id": "badges",
      "label": "Product review"
    },
    {
      "type": "checkbox",
      "id": "add_cart_form",
      "label": "Add cart form"
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "url",
      "id": "guarantee_link",
      "label": "Guarantee link"
    }
  ],
  "blocks": [
    {
      "type": "instagram",
      "name": "Instagram",
      "settings": [
        {
          "type": "checkbox",
          "id": "wide_display",
          "label": "Wide display"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Gallery"
        },
        {
          "type": "richtext",
          "id": "sub_title",
          "label": "Sub title"
        }
      ]
    },
    {
      "type": "popup",
      "name": "Popup message",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Back in stock soon"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag"
        },
        {
          "type": "html",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Tag color",
          "default": "#f7e9ce"
        }
      ]
    }
  ],
  "default": {
    "settings": {

    }
  }
}

{% endschema %}
