<div class="container">
  {% if section.settings.title != blank %}
    <div class="sixteen columns">
      <p class="heading capitalize center">{{ section.settings.title | escape }}</p>
    </div>
  {% endif %}
  <div class="flex one-whole columns">
    <div class="flex seven-twelfths  medium-down--one-whole columns">
      {% for block in section.blocks %}
        {% if forloop.index == 1 %}
            <div class="flex one-whole first column text-column" {{ block.shopify_attributes }}>
              <div class="border-style--{{ block.settings.border_style }} image-text-block text-align--{{ block.settings.align_text }}">
                <div class="image image-block-{{block.id}}">
                  {% if block.settings.enable_image %}
                    {% if block.settings.image != blank %}
                      {% include 'image-element' with
                        image: block.settings.image,
                        alt: block.settings.title
                      %}
                    {% else %}
                      <p>
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </p>
                    {% endif %}
                  {% endif %}
                </div>
                
                <div class="info">
                  {% if block.settings.title != blank %}
                      <h3 class="{{ block.settings.heading_size }}">{{ block.settings.title | escape }}</h3>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      <div class="rte-setting">{{ block.settings.text }}</div>
                    {% endif %}
                    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                      <a href="{{ block.settings.button_link }}" class="read_more">
                        {{ block.settings.button_label | escape }}
                      </a>
                    {% endif %}
                </div>
              </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="flex five-twelfths medium-down--hide columns">
      {% for block in section.blocks %}
        {% if forloop.index != 1 %}
          <div class="flex one-whole second column text-column" {{ block.shopify_attributes }}>
            <div class="one-whole column border-style--{{ block.settings.border_style }} image-text-block text-align--{{ block.settings.align_text }}">
              <div class="image image-block-{{block.id}}">
                {% if block.settings.enable_image %}
                  {% if block.settings.image != blank %}
                    {% include 'image-element' with
                      image: block.settings.image,
                      alt: block.settings.title
                    %}
                  {% else %}
                    <p>
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    </p>
                  {% endif %}
                {% endif %}
              </div>
              
              <div class="info">
                {% if block.settings.title != blank %}
                    <h3 class="{{ block.settings.heading_size }}">{{ block.settings.title | escape }}</h3>
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <div class="rte-setting">{{ block.settings.text }}</div>
                  {% endif %}
                  {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                    <a href="{{ block.settings.button_link }}" class="read_more">
                      {{ block.settings.button_label | escape }}
                    </a>
                  {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    
  </div>
  
</div>

{% schema %}
  {
    "name": "Text columns with images",
    "class": "text-columns-with-images-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text columns with images"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "limit": 5,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "options": [
              {
                "value": "regular_text",
                "label": "Regular"
              },
              {
                "value": "large_text",
                "label": "Large"
              }
            ],
            "default": "regular_text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "border_style",
            "label": "Border style",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "quote",
                "label": "Quote"
              }
            ],
            "default": "none"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text columns with images",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
